/* variables */
:root {
    --light: whitesmoke;
    --dark: rgb(6, 87, 128);
    --color: #04AA6D;
}


.topnav {
    overflow: hidden;
    background-color: rgb(51, 51, 51);
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active:hover {
    background-color: #ddd;
    color: #04AA6D;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav-right {
    float: right;
  }

/* Full-width input fields */
input[type=text], input[type=date], select[id="start"], select[id="end"], textarea[id="descr"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

 /* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  } 

.container {
    padding: 16px;
}


 /* The Modal (background) */
 .modal {
    margin:0 auto;
    display: div;
    position: absolute;
    left: 0;
    right:0;
    top: 0;
    bottom:0; 
    border:1px solid;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}


div#ad3dEventModal {
    text-align: center;
    padding: 0!important;
}


.modal-fade{
    display:block;
}
  
  /* Modal Content/Box */
.modal-content {
    background-color: #fefefe; /* the modal pop-up box will be white */
    width: 50%; /* the width of the moald pop-upm the white box */
    height: 90%; /* the height of the moald pop-upm the white box  */
    margin: 2% 2% 12% 12%; /* center the text inside the modal */
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}


/* --------------------------------- *//* 12 column responsive layout ----- */
* .col{
    box-sizing: border-box;
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    /*padding: 15px; */
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.row {
}
/* --------------------------------- */

/* grid layout module -------------- */
.grid-container-1 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 100%;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

[class*="grid-col-"] {
    border-left: 1px solid var(--dark);
    border-top: 1px solid var(--dark);
    padding: 1px;
}

.grid-col-1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.grid-col-2 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.grid-col-3 {
    grid-column-start: 3;
    grid-column-end: 4;
}

.grid-col-4 {
    grid-column-start: 4;
    grid-column-end: 5;
}

.grid-col-5 {
    grid-column-start: 5;
    grid-column-end: 6;
}

.grid-col-6 {
    grid-column-start: 6;
    grid-column-end: 7;
}

.grid-col-7 {
    grid-column-start: 7;
    grid-column-end: 8;
}

.grid-col-8 {
    grid-column-start: 8;
    grid-column-end: 9;
}

[class*="day-col-"] {
    border-left: 1px solid var(--dark);
    border-top: 1px solid var(--dark);
    padding: 5px;
}

.day-col-1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.day-col-2 {
    grid-column-start: 2;
    grid-column-end: 9;
}

.day-col-3 {
    grid-column-start: 7;
    grid-column-end: 9;
    /* need to remove lines from bottom */
}


.btm-row {
    border-bottom: 1px solid var(--dark);
}

.last-col {
    border-right: 1px solid var(--dark);
}
/* --------------------------------- */

/* buttons */
.btn, .home-btn {
    background-color: var(--color);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 0px;
}

.btn {
    /*float: right; */
    margin: 0px;
}

.btn:hover {
    background-color: var(--light);
    color: var(--dark);
}

.home-btn:hover {
    background-color: var(--dark);
    color: white;
}

.sml-btn {
    background-color: var(--dark);
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 0px;
    float: right;
}

.sml-btn:hover {
    background-color: var(--color);
    color: white;
}

.menu > a:link {
    text-decoration: none;
}

/* collapse trigger button */
.collapsible, .menu-button, .link-button:link, .link-button:visited {
    background-color: var(--dark);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
}

/* add .active with JS */
.active, .collapsible:hover {
    background-color: var(--color);
    color: white;
}

.menu-button:hover, .link-button:hover {
    background-color: var(--color);
    color: white;
}

/* collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: var(--light);
    width: 100%;
}

/* whole document styling */
html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 99%;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    color: var(--color);
    margin: 0px;
}

h2 {
    color: var(--color);
}

form, .month, .nav {
    display: inline-block;
}



input[type=button], #addGroup {
    margin-top: 10px;
}


textarea {
    margin-bottom: 10px;
    resize: none;
    border: none;
    padding: 5px;
    width: 94%;
}

select {
    border: none;
    padding: 5px;
}



/* navigation */
.form, .groups, .settings {
    padding-top: 15px;
    padding-bottom: 15px;
}

.menu-header {
    padding: 20px;
}

.views {
    text-align: right;
}

.planner-header {
    margin-top: 30px;
    margin-bottom: 15px;
}

/* planner view */
.planner {
    height: 100%;
    width: 100%;
}



.day {
    color: var(--color);
    text-align: 1%;
    font-size: 17px;
    font-weight: bold ;
    padding: 5px;
    background-color: var(--light);
}


.event-area {
    height: 60px ;
    overflow: hidden;
    width: 100%;
}

.time {
    text-align: center;
    font-size: 15px;
}

/* events */
.event {
    color: white;
    width: 100%;
    max-height: 16px;
    overflow: hidden;
    padding: 1px;
    margin-bottom: -16px;
    text-indent: 5px;
    font-size: 12px;
}
  
  

  /* The Close Button (x) */
  .close {
    margin: 100%;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    /*width: 80%;*/
  }
  

  button[id="modal1"], [id="eventsBtn"] {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 12px;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }



