<!DOCTYPE html>
<html>
<head>
    <title>Daily Planner</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{{url_for('static', filename = 'daily.js')}}"></script>
    <script src="{{url_for('static', filename = 'script.js')}}"></script>

</head>
<body>

<div class="container"></div>

    <h2 col-6.month>Daily Planner</h2>
    <div class="col-9 main">
        <!-- bar at the top with buttons -->
        <div class="topnav">
            <a class="active" onclick ='back()'>Prior Day</a>
            <a onclick ="forward()">Next Day</a>
            <div class="topnav-right">
                <a onclick="document.getElementById('eventsModal').style.display='inline-block'">Events</a>
               </div>
        </div>      


        <div class="row planner grid-container-2">
            <!-- row1 headers -->
            <div class="day grid-col-1"></div>
            <div class="day grid-col-2"></div>
            <div class="day grid-col-3 last-col"></div>             
                
            <!-- /row1 -->
            <div class="grid-col-1"></div>             
            <div class="grid-col-2"></div> 
            <div class="grid-col-3 last-col"></div>
            <!-- /row1 -->

            <!--/last row-->
            <div class="grid-col-1 btm-row"></div>  
            <div class="grid-col-2 btm-row"></div>
            <div class="grid-col-3 btm-row last-col"></div>
            <!-- /last row -->          
        </div> 
    </div> 

    <!-- Modal -->
    <div class="modal fade" id="eventsModal" tabindex="-1" role="dialog"  aria-labelledby="eventsModal" aria-hidden="true">
        <form class="modal-content animate" method="post">
            <div class="modal-dialog modal-dialog-centered" style="width:130%;">     
                <div class="modal-content">
                    <div class="modal-header" >
                            <!--<h4 class="modal-title" display: inline-block>Add New Event</h4>-->
                            <span onclick="document.getElementById('eventsModal').style.display='none'" class="close" title="Close Modal">&times;</span>
                    <div>
                    <form class="modal-content animate" method="post">
                            <label for="title" >Add Event:</label>
                            <input type="text" id="title" name="title">
        
                            <label for="date" >Event Date:</label>
                            <input type="date" id="date" name="date"><br><br>
        
                            <label for="start">Event Start Time:</label>
                            <select id="start" name="start" value='00:00' onchange="changeEnd()">
                                <option ></option>
                            </select> <br><br>
                            <label for="end">Event End Time:</label>
                            <select id="end" name="end" value='00:00' ></select><br><br>
        
                            <label for="descr">Event Description:</label>
                            <textarea id="descr" name="descr" rows="5"></textarea><br><br>
                    </form>
                    <div class="modal-footer">
                            <button type="button" class="primary" onclick="addPlan()"  value="Submit" id="eventsBtn" >Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script>
        // Get the addModal
        var addModal = document.getElementById('eventsModal');
        addModal.style.display = "none";

        // When the user clicks anywhere outside of the modal, close it
        document.getElementById("eventsModal").onclick = function(event) {
        if (event.target == addModal) {
            addModal.style.display = "none";
            }
        }
    </script>
<div>          
</body>
</html>